@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.install-fullbox {
 font-family: 'Montserrat', sans-serif;
 background-image: url('https://drive.google.com/uc?export=download&id=1sA-jMtB8j03RGXqMUKa-r6rM6OXmkC79');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top : 10%;
    padding-bottom : 11%;
}


#gen-cards {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: #00000029 0px 1px 5px;
}
#gen-cards:hover {
    transform: scale(1.05);
    transition: ease 500ms;
    box-shadow: #ffffff75 0px 1px 5px;
}
.gen-card-img {
    border-radius: 10px 10px 0 0;
    height: 220px;
}

.gen-title {
    font-weight: 800;
    text-align: center;
    font-size: 18px;
    color: white;
    
}
.gen-title2 {
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    color: white;
}
.gen-head {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    text-transform: uppercase;
}
.back-to-top {
    margin-left: 90%;
    bottom: 15%;
    text-align: center;
    color: black;
    border-radius: 100%;
    background-color: white;
    transform: scale(2.0);
    padding: 5px;
    position: fixed;
    text-decoration: none;
    z-index: 1;
}
.back-to-top:hover {
    transform: scale(2.25);
    color: white;
    background-color: black;
    text-decoration: none;
    box-shadow: 0px 1px 10px #ffffff75;
    transition: ease 500ms;
}
.gen-body {
    height: 150px;
    width: 100%;
    text-align: center;
}
@media screen and (max-width : 1024px){
    .install-fullbox{
        padding-top : 25%;
    }
    .gen-card-img {
        height: 150px;
        }
}
@media screen and (max-width : 585px){
    .gen-card-img {
    height: 100%;
    }
    .gen-body {
        height: 100%;
        width: 100%;
        text-align: center;
    }
}