@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.about-mainbox {
    font-family: 'Montserrat', sans-serif;

}
.head1 {
 font-weight: bold;
 margin-top: 12%;
 margin-bottom: 10px;
 color: white;
}
.head2 {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}
.about-content{
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: lightgrey;
}
.about-content:hover{
    color: white;
    transition: ease-in 500ms;
}
.card-head {
    color: white;
    font-weight: bold;
    font-size: 22px;
    overflow: hidden;
}
.fact-dd {
    font-weight: 500;
    font-size: 18px;
}
.fact-dt {
    font-weight: 700;
    font-size: 18px;
}
.fact-card {
    margin-top: 50px;
}
.arrow-down {
    float: right;
}
.accord-head {
    font-weight: 700;
    font-size: 20px;
}
.accord-body {
    font-weight: 500;
    font-size: 18px;
}
.accord {
    margin-top: 20px;
    margin-bottom: 20px;
}
.fact-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 10px #ffffff75;
    transition: ease-in 500ms;
}
.accord:hover {
    transform: scale(1.02);
    box-shadow: 0px 2px 10px #ffffff60;
    transition: ease-in 300ms;
}
.about-fullbox {
    background-image: url('https://drive.google.com/uc?export=download&id=11JaQR2izQ0LbPvPZNg1XaVIjP3hxaBVh');
    padding-bottom : 11%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
@media screen and (max-width : 1024px){
    .head1 {
        margin-top : 23%;
    }
}
.accord-head {
    color: white;
}
.team-head {
    color: white;
    font-weight: bold;
}
#accordian-heading {
    border: none;
    border-radius: 15px;
}
.hr-line {
    background-color: floralwhite;
}
