@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.footer-box {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0,0,0, 1);
}
.footer-link {
    color: lightgray;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}
.footer-link:hover {
    color: darkgray;
    text-decoration: none;
}

.footer-link-set {
    margin-top: 0px;
    list-style: none;
    text-align: left;
}
.explore {
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}
.fa-links {
    color: floralwhite;
    text-decoration: none;
    margin: 12px;
    margin-top: 30px;
    transition: ease-in 600ms;
}
.fa-links:hover {
    color: red;
    text-decoration: none;
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out 0s;

}

.copyright {
    color: white;
    text-align: center;
}
.footer-map {
    width: 100%;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    border: 1px solid black;
    border-radius: 15px;
}
.footer-map:hover {

    transform: scale(1.05);
    box-shadow: 0px 3px 15px #ffffff95;
    transition: ease-in 500ms;
}

.hr-footer-line {
    background-color: floralwhite;

}
.connect {
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}
.address {
    color: darkgray;
    margin-top: 30px;
    transition: ease-in 500ms;
    text-align: center;
}
.visit-us {
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}
.address:hover {
    color: white;
    transform: scale(1.05);
}
.footer-icons {
    text-align: center;
}